body {
  background-color: #282828;
  color: #ffffff;
  font-family: "Fira Code", "Courier New", monospace;
}

h1,
h2 {
  font-weight: bold;
}

#alerta {
  padding: 15px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Alertas visuales */
.alert.exito {
  background-color: #d4edda;
  color: #155724;
}

.alert.error {
  background-color: #f8d7da;
  color: #721c24;
}

/* Botones dentro de la tabla */
td button {
  margin: 2px;
}

/* Estilo naranja sutil */
.btn-naranja {
  background-color: #e0a96d;
  color: #282828;
  font-weight: bold;
  border: none;
}

.btn-naranja:hover {
  background-color: #d18e52;
  color: #ffffff;
}

.text-naranja {
  color: #e0a96d;
}

.border-naranja {
  border-color: #e0a96d !important;
}